.box-add {
    height: auto;
    width: 100%;
    border: 2px dashed #797979;
    margin: 0.5rem 0rem;
    border-radius: 10px;
    cursor: pointer;
}

.title-todo-add {
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    padding: 0.2rem 0.75rem;
    padding-bottom: 0rem;
    display: inline-block;
    background: #EEEEEE;
}

.time-todo-add {
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    padding: 0.2rem 0.75rem;
    padding-bottom: 0rem;
    float: right;
    display: inline;
    background: #EEEEEE;
}

.des-add {
    color: #797979;
    margin-top: 0.8rem;
    padding: 0.2rem 0.75rem;
    font-size: 0.9rem;
    background: #EEEEEE;
    width: 60%;
}