.box {
    height: auto;
    width: 100%;
    border: 1px solid #000;
    margin: 0.5rem 0rem;
    border-radius: 10px;
    cursor: pointer;
}

.mt-2 {
    margin-top: 2rem;
}

.title-todo {
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.8rem 0.75rem;
    padding-bottom: 0rem;
    display: inline-block;
}

.time-todo {
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.8rem 0.75rem;
    padding-bottom: 0rem;
    float: right;
    display: inline;
}

h3 {
    font-size: 1.25rem;
}

.des {
    color: #797979;
    margin-top: 0.8rem;
    padding: 0rem 0.75rem;
    padding-bottom: 0rem;
    font-size: 0.9rem;
}

.p-05 {
    padding: 0.5rem;
}

.pt-0 {
    padding-top: 0rem;
}

.font-15 {
    font-size: 1.1rem;
}

.text-checklist-card {
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 5%;
}