@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.teambar-body{
    font-family: "Roboto", sans-serif;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teambar-title{
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.button {
    background-color: transparent;
    height: 20vh;
    margin-top: 6vh;
    text-align: center;
    line-height: 75px;
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    height: 25vh;
    background-color: #F5FAFE;
}

.teambar-box {
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    height: 20vh;
    width: 10vw;
    margin: 1%;
    text-align: center;
    line-height: 75px;
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.sorted-selector{
    width: 10%;
}