@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.button {
    background-color: transparent;
    height: 20vh;
    width: 10vw;
    margin-top: 6vh;
    text-align: center;
    line-height: 75px;
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    height: 25vh;
    background-color: #F5FAFE;
}

.box {
    background-color: #C4C4C4;
    height: 20vh;
    width: 10vw;
    margin: 1%;
    text-align: center;
    line-height: 75px;
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
}