.custom{
    height: 500px;
    width: 500px;
}

.edge{
    background-color: aqua;
    width: 100%;
    height: 90%;
}

.box{
    height: 90%;
    width: 20%;
    background-color: red;
}

.card{
    background-color: black;
    height: 90%;
    width: 100%;
}

.date{
    height: auto;
    width: auto;
}